<% layout('layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2" >

        <h3 class="text-danger">Create New Listing</h3> <br/>
            <form method="POST" action="/listings">

                <div class="mb-2">
                    <label for="title" class="form-label">Title: </label>
                    <input name="listing[title]" id="title" class="form-control" placeholder="Add a catchy Title" type="text"/> 
                </div>

                <div class="mb-2">
                    <label for="description" class="form-label">Description: </label>
                    <textarea name="listing[description]" id="description" class="form-control"  placeholder="Enter description" type="text"></textarea> 
                </div>

                <div class="mb-2 ">
                    <label for="price" class="form-label">Price: </label>
                    <input name="listing[price]" id="price" class="form-control" placeholder="1200" type="number"/> 
                </div>

                <div class="mb-2">
                    <label for="image" class="form-label">Image: </label>
                    <input name="listing[image]" class="form-control" id="image" placeholder="Enter Image URL/Link" type="text"/> 
                </div>

                <div class="mb-2">
                    <label for="country" class="form-label">Country: </label>
                    <input name="listing[country]" class="form-control" id="country" placeholder="India" type="text"/> 
                </div>

                <div class="mb-2">
                    <label for="location" class="form-label">Location: </label>
                    <input name="listing[location]" class="form-control" id="location" placeholder="Odisha , Gajapati" type="text"/> 
                </div>

                <button class="btn btn-danger mb-3">Add</button> <br/>
            </form>
        </div>
    </div>
</body>